<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>
<div id="app">
    <h1 align="center" >客户信息</h1>
    <hr color="blue">
    <el-row>

        <el-button type="primary" plain @click="dialogVisible = true">新增</el-button>

    </el-row>
    <!--添加数据对话框表单-->
    <el-dialog
            title="添加客户信息"
            :visible.sync="dialogVisible"
            width="30%"
    >

        <el-form ref="add" :model="customer" label-width="80px">
            <el-form-item label="客户姓名" prop="name">
                <el-input v-model="customer.name"></el-input>
            </el-form-item>

            <el-form-item label="客户电话" prop="phone">
                <el-input v-model="customer.phone"></el-input>
            </el-form-item>

            <el-form-item label="地址" prop="address">
                <el-input v-model="customer.address"></el-input>
            </el-form-item>

            <el-form-item label="联系记录" prop="record">
                <el-input v-model="customer.record"></el-input>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="addCustomer('add')">提交</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>
    <el-dialog
            title="修改客户信息"
            :visible.sync="dialogVisible1"
            width="30%"
    >

        <el-form ref="add" :model="customer" label-width="80px">
            <el-form-item label="客户姓名" prop="name">
                <el-input v-model="customer.name"></el-input>
            </el-form-item>

            <el-form-item label="客户电话" prop="phone">
                <el-input v-model="customer.phone"></el-input>
            </el-form-item>

            <el-form-item label="地址" prop="address">
                <el-input v-model="customer.address"></el-input>
            </el-form-item>

            <el-form-item label="联系记录" prop="record">
                <el-input v-model="customer.record"></el-input>
            </el-form-item>


            <el-form-item>
                <el-button type="primary" @click="updateCustomer">提交</el-button>
                <el-button @click="dialogVisible1 = false">取消</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>
    <!--    表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                @current-change="handleCurrentChange1"
                :row-class-name="tableRowClassName">
            <el-table-column
                    prop="cno"
                    label="客户编号"
                    type="index"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="客户姓名"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="客户电话"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="address"
                    label="地址"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="record"
                    label="联系记录"
                    align="center">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <el-row>
                    <el-button type="primary" @click="update">修改</el-button>
                    <el-button type="danger" @click="deleteById">删除</el-button>
                </el-row>

            </el-table-column>
        </el-table>
    </template>
    <!--分页-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({
        el:"#app",

        mounted(){
            //页面加载完成发送异步请求
            this.select();
        },
        data(){
            return{
                customer: {
                    cno: '',
                    name: '',
                    phone: '',
                    address: '',
                    record: ''
                },
                //每页显示的条数
                pageSize:5,
                //总记录数
                totalCount: 100,
                //分页
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,

                dialogVisible1: false,

                selectedId:0,

                //表格数据
                tableData: [{
                    cno: '1',
                    name: '',
                    phone: '',
                    address: '',
                    record: ''
                },
                    {
                        cno: '2',
                        name: '',
                        phone: '',
                        address: '',
                        record: ''
                    }]
            }
        },
        methods:{
            handleCurrentChange1(val){
                this.currentRow = val;
                this.selectedId = this.currentRow.cno;
            },
            select(){
                axios.get("http://localhost:8081/customer?current=" + this.currentPage + "&pageSize=" + this.pageSize,
                    this.customer
                ).then(resp => {
                    //设置表格数据
                    this.tableData = resp.data.data.list;
                    //设置总记录数
                    this.totalCount = resp.data.data.totalCount;
                })
            },
            addCustomer(formName){
                axios.post("http://localhost:8081/customer",this.customer
                ).then(resp =>{
                    if(resp.data.code === 0){
                        this.$refs[formName].resetFields();
                        this.dialogVisible = false;
                        this.select();
                        this.$message({
                            message:'添加成功',
                            type:'success'
                        })
                    }else {
                        this.$message({
                            message:'添加失败,请重新编辑',
                            type:'warning'
                        })
                    }
                })
            },
            update(){
                this.$confirm('确定要修改这条数据吗','提示',{
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    axios.get("http://localhost:8081/customer/"+this.selectedId
                    ).then(resp => {
                        console.log(resp.data.data);
                        this.customer = resp.data.data;
                        this.dialogVisible1 = true;
                    })
                })
            },
            updateCustomer(){
                axios.put("http://localhost:8081/customer/",this.customer
                ).then(resp =>{
                    if(resp.data.code === 0){
                        this.dialogVisible1 = false;
                        this.select();
                        this.$message({
                            message:'修改成功',
                            type:'success'
                        })
                    }else {
                        this.$message({
                            message:'修改失败,请重新编辑',
                            type:'warning'
                        })
                    }
                })
            },
            deleteById(){
                this.$confirm('此操作将永久删除数据','提示',{
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    axios.delete("http://localhost:8081/customer/"+this.selectedId
                    ).then(resp => {
                        if (resp.data.code === 0){
                            this.currentPage = 1;
                            this.select();
                            this.$message({
                                message:'删除成功',
                                type:'success'
                            })
                        }
                    })
                })

            },
            //分页
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.select();
            },
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.select();
            },
            //表格状态切换格式
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 === 1) {
                    return 'warning-row';
                } else if (rowIndex % 4 === 3) {
                    return 'success-row';
                }
                return '';
            }
        }

    })
</script>
</body>
</html>