<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轿车销售管理系统</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>
</head>
<body>

<div id="app">
    <h1 align="center" >轿车销售管理系统</h1>
    <hr color="blue">
<!--    搜索表单-->
    <el-form :inline="true" :model="sales" class="demo-form-inline">
        <el-form-item label="轿车型号">
            <el-input v-model="sales.saloonModel" placeholder="轿车型号"></el-input>
        </el-form-item>
        <el-form-item label="员工姓名">
            <el-input v-model="sales.employeeName" placeholder="员工姓名"></el-input>
        </el-form-item>
        <el-form-item label="客户姓名">
            <el-input v-model="sales.customerName" placeholder="客户姓名"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>
<!--    表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName">
            <el-table-column
                    prop="id"
                    label="售货单号"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="saloonModel"
                    label="轿车型号"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="saloonPrice"
                    label="轿车价格"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="employeeName"
                    label="员工姓名"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="customerName"
                    label="客户姓名"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="customerPhone"
                    label="客户电话"
                    align="center">
            </el-table-column>
            <el-table-column
                    prop="salesDate"
                    label="销售日期"
                    align="center"
                    :formatter="formatter">
            </el-table-column>
        </el-table>
    </template>
<!--分页-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="5"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>
</div>

<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<script>
    new Vue({

        el:"#app",

        mounted(){
            //页面加载完成发送异步请求
            this.select();
        },

        methods: {
            //销售日期打印格式化
            formatter(row,column){
                return row.salesDate.replace('T',' ');
            },
            select(){
                axios.post("http://localhost:8081/sales/data?current=" + this.currentPage + "&pageSize=" + this.pageSize,
                    this.sales
                ).then(resp => {
                    //设置表格数据
                    this.tableData = resp.data.data.list;
                    //设置总记录数
                    this.totalCount = resp.data.data.totalCount;
                })
            },
            //分页
            handleSizeChange(val) {
                // console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.select();
            },
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.select();
            },
            //搜索表单
            onSubmit() {
                this.select();
            },
            //表格状态切换格式
            tableRowClassName({row, rowIndex}) {
                if (rowIndex % 4 === 1) {
                    return 'warning-row';
                } else if (rowIndex % 4 === 3) {
                    return 'success-row';
                }
                return '';
            }
        },
        data() {
            return {
                sales: {
                    id: '',
                    salesDate: '',
                    saloonModel: '',
                    employeeName: '',
                    customerName: '',
                    customerPhone: '',
                    saloonPrice: ''
                },
                //每页显示的条数
                pageSize:5,
                //总记录数
                totalCount: 100,
                //分页
                currentPage: 1,
                //表格数据
                tableData: [{
                    id: '',
                    salesDate: '',
                    saloonModel: '',
                    employeeName: '',
                    customerName: '',
                    saloonPrice: '',
                    customerPhone: ''
                }]
            }
        }
    })
</script>
</body>
</html>